name: Bue Vac Script

on:
  workflow_dispatch:
  schedule:
    - cron: "40 0 1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31 * *"

jobs:
  bue-vac:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: npm install
      - run: npm run build
      - run: npm run bue_vac
