name: Farm Script

on:
  workflow_dispatch:
  schedule:
    - cron: "15 22,7,15 * * *"

jobs:
  farm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: npm ci
      - run: npm run build
      - run: npm run farm
